# === General ===
.DS_Store
*.log

# === Python ===
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtualenvs ===
yolov8-env/
*.egg-info/

# === Pickle files ===
*.pkl

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Video/Media ===
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg

# === YOLO Models ===
*.onnx
*.pt
*/models/yolov8n-pose.onnx
*/yolov8n-pose.pt

# === C++ Build Files ===
/cpp-version/build/
/cpp-version/CMakeFiles/
/cpp-version/CMakeCache.txt
/cpp-version/Makefile
/cpp-version/*.out
/cpp-version/*.o
/cpp-version/*.obj

# === IDEs ===
.vscode/
.idea/

# === Misc ===
*.swp
*.tmp
__results__/
temp/
